<h1>Listing blog posts</h1>
<br>


<h3>Flash message</h3>
<p id="notice"><%= notice %></p>
<br>


<h2>Blogs</h2>
<% if @blogs.empty? %>
    <h1 id="no-blogs">No blog posts have been created</h1>
<% else %>
    <% @blogs.each do |blog| %>
     <p><%= link_to "#{blog.title}", blog_path(blog) %></p>
     <p><%= "#{blog.body}" %></p>
    <% end %>
<% end %>
<br>


<h2>Actions</h2>
<%= link_to 'New blog post', new_blog_path %>
<br>


<h3>Footer</h3>
Created by Nik at 2021-05-31 13:45
Last updated by Nik at 2021-06-01 09:00

