<h1>Listing people</h1>
<br>


<h3>Flash message</h3>
<p id="notice"><%= notice %></p>
<br>


<h2>People</h2>
<% if @people.empty? %>
    <h1 id="no-people">No people have been created</h1>
<% else %>
    <% @people.each do |person| %>
     <p><%= link_to "#{person.first_name.titleize} #{person.last_name.titleize}", person_path(person) %></p>
    <% end %>
<% end %>
<br>


<h2>Actions</h2>
<%= link_to 'New person', new_person_path %> 
<br>
