<h1>Listing events</h1>


<h3>Flash message</h3>
<p id="notice"><%= notice %></p>
<br>


<% if @events.empty? %>
    <h1 id="no-events">No events have been created</h1>
<% else %>
    <% @events.each do |event| %>
    <p><%= link_to "#{event.person.first_name.titleize} #{event.person.last_name.titleize}", person_path(event.person_id) %> - <%= link_to "#{event.title}", person_event_path(event.person_id, event.id) %> <%= "#{event.year}-#{'%02i' %event.month}-#{'%02i' %event.day}" %> </p>
    <% end %>
<% end %>
<br>


