<p id="notice"><%= notice %></p>

<h1>Listing events</h1>

<% if @events.empty? %>
    <h1 id="no-events">No events have been created</h1>
<% else %>
    <% @events.each do |event| %>
     <p><%= link_to "#{event.title}", event_path(event) %> <%= "#{event.year}-#{'%02i' %event.month}-#{'%02i' %event.day}" %></p>
    <% end %>
<% end %>


<br>

